<div class="carousel container" *ngIf="carousel && lang">
  <div class="carousel-card">
    <div class="carousel-image" [style.background-image]="'url(' + data[carouselIndex].image + ')'"></div>
    <div class="carousel-content">
      {{ data[carouselIndex].content[lang] }}
    </div>
    <div class="carousel-person">
      <b>
        {{ data[carouselIndex].person }}
      </b>
      {{ data[carouselIndex].title[lang] }}
    </div>
  </div>

  <div class="carousel-bullets">
    <span
      *ngFor="let bullet of data; let i = index"
      class="shadow-shawer"
      [class.corousel-bullet-active]="i === carouselIndex"
      (click)="carouselIndex = i">
    </span>
  </div>
</div>