.blog-page {
  padding-top: 200px;

  &-entries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    &-list {
      width: 315px;

      &:nth-child(1) {
        margin-right: auto;
      }

      &:nth-child(2) {
        margin: 0 auto;
      }

      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }
}

ray-blog-entry-small.disable-events {
  background-color: red;
  display: block;
  height: 100px;

  ::ng-deep * {
    pointer-events: none;
    cursor: move;
  }
}

.cdk-drag-preview {
}

.cdk-drag-placeholder {
  opacity: 1;
}
