@import 'variables';

.link-button,
button {
  @include cleanButton;
  border-radius: $radius1;
  background-color: $primary;
  color: $light;
  font-weight: 600;
  padding: 10px 24px;
  width: max-content;
  font-size: $fontSize6;
}

.link-icon {
  color: $primary;
  text-decoration: unset;
}

.link {
  text-decoration: underline;
  font-weight: 600;
}
