@import 'variables';

html {
  font-size: 16px;
}

html,
body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: $primary;

  *::selection {
    background-color: $secondary;
    color: $light;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: $light;
}

* {
  box-sizing: border-box;
  outline: none!important;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: $fontSize1;
  font-weight: 700;

  @media screen and (max-width: $med) {
    font-size: $medFontSize1;
  }
}

h2 {
  font-size: $fontSize2;
  font-weight: 700;

  @media screen and (max-width: $med) {
    font-size: $medFontSize2;
  }
}

h3,
h4,
h5 {
  font-size: $fontSize3;

  @media screen and (max-width: $med) {
    font-size: $medFontSize3;
  }
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 300;
}

p, b, strong, li {
  font-size: $fontSize6;
  font-weight: 300;
}

.font-big {
  font-size: $fontSize4;
  font-weight: 300;

  @media screen and (max-width: $med) {
    font-size: $medFontSize4;
  }
}

.font-medium {
  font-size: $fontSize5;
  font-weight: 300;
}

.font-small {
  font-size: $fontSize7;
  font-weight: 300;
}

.disabled {
  opacity: $opacity;
  cursor: default;
  pointer-events: none;
}

.main {
  position: relative;
}

.container {
  max-width: 1195px;
  margin: 0 auto;
  padding: 90px;

  @media screen and (max-width: $med) {
    padding: 30px;
  }
}

.inner-html {
  font-size: $fontSize4;
  line-height: 1.5;

  p {
    margin: 30px 0;
  }

  @media screen and (max-width: $med) {
    font-size: $medFontSize4;
  }
}
