/* screen */
$sma: 640px;
$med: 900px;

/* colors */
$primary: #1A113D;
$primaryTransparent1: rgba(26, 17, 61, 0.80);
$secondary: #3B2F5E;
$alternate: #4F5572;
$light: #F5F3FA;
$border: #EDEBF3;

/* effects */
$transition: 0.3s ease-in-out;
$opacity: 0.5;

/* font size */
$fontSize1: 6rem;
$fontSize2: 4.5rem;
$fontSize3: 2.375rem;
$fontSize4: 1.5rem;
$fontSize5: 1.125rem;
$fontSize6: 1rem;
$fontSize7: 0.75rem;
$menuFontSize: 1.125rem;

$medFontSize1: 3rem;
$medFontSize2: 2.25rem;
$medFontSize3: 1.125rem;
$medFontSize4: 1rem;
//$medFontSize5: 1.125rem;
//$medFontSize6: 1rem;
//$medFontSize7: 0.75rem;
$menuFontSize: 1.5rem;

/* gap */
$gap1: 90px;
$gap2: 40px;

$medGap1: 30px;
$medGap2: 24px;

/* radius */
$radius1: 8px;

/* layout */
@mixin cleanButton() {
  background: none;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 1;
}

@mixin transition($trans: 0.3s) {
  -webkit-transition: $trans ease-in-out;
  -moz-transition: $trans ease-in-out;
  -o-transition: $trans ease-in-out;
  transition: $trans ease-in-out;
}
