@import '../../../sass/variables'

footer
  display: grid
  padding: 0 1rem
  height: 58px
  grid-template-columns: 2fr 1fr 2fr
  gap: 1rem
  background-color: $dark-blue
  
  * 
    color: $white
    font-size: 0.9em
  
  .credits,
  .dates,
  .socialmedia
    align-self: center

  .dates
    display: grid
    grid-template-columns: auto 24px auto
    gap: 0.5rem
    margin: 0 auto

    * 
      align-self: center

  .socialmedia
    display: flex
    margin-left: auto

    .socialmedia-col
      margin-right: 0.3rem
      &:last-child
        margin: 0

    svg
      width: 24px
      fill: $white
  
  .footer-logo
    height: 24px
    
  @media screen and (max-width: $sma)
    grid-template-columns: 1fr
    gap: 1rem
    height: auto
    padding: 1rem

    .credits,
    .dates,
    .socialmedia
      text-align: center
      line-height: 1.4
      margin: 0 auto

    .dates
      grid-row: 1

    .credits
      grid-row: 3
      @include fontSmall
