@import "variables";

footer {
  background-color: $primary;
  padding: $gap2;

  * {
    text-align: center;
    color: $light;
  }

  h4 {
    display: block;
    margin-bottom: 18px;
    font-size: 48px;
  }

  .link,
  address {
    display: block;
    font-size: $fontSize5;
  }

  .link {
    margin-bottom: 12px;
  }

  address {
    margin-bottom: $gap2;
  }
}

@media screen and (max-width: $med) {
  footer {
    h4 {
      font-size: 24px;
    }

    span {
      display: block;
    }

    padding-bottom: 110px;
  }
}
