@import 'variables'

nav  
  $logoSize: 48px

  display: grid
  grid-template-columns: $logoSize 1fr auto
  position: absolute
  z-index: 1000
  background: transparent
  width: 100%

  .navigation-menu
    fill: $white
    @include cleanButton()

  .navigation
    display: flex

    a, button
      outline: none!important
      cursor: pointer
      @include fontParagraph()
      align-self: center
      text-transform: uppercase
      color: $white
      text-decoration: none
      transition: $transition
      font-weight: 700
      text-underline-offset: 0.1em
      text-decoration-thickness: 0.1em

      &.link-active
        text-decoration: underline
        text-decoration-thickness: 0.1em
        text-underline-offset: 0.3em

      &:hover
        text-decoration: underline
        text-decoration-thickness: 0.1em
        text-underline-offset: 0.3em
    
    .language
      display: grid
      border-left: 2px solid $white
      padding-left: 1rem

      button
        background: none
        border: none
        padding: none
        margin: none
    
    @media screen and (max-width: $med)
      display: none
      position: fixed
      top: 0
      right: 0
      padding: 30vh 3rem 0
      width: 100vw
      height: 100vh
      background-color: rgba(0, 0, 0, 0.7)

      flex-direction: column

      a
        margin-right: 0
        margin-bottom: 2rem

      a, button
        @include fontBig()

      .language
        border: none
        padding: 0

  .navigation > *
    margin-right: 2rem

    &:last-child
      margin: 0

  #rayLogo
    width: $logoSize
    height: $logoSize

    .ray-logo-background
      fill: $white

    .ray-logo-head,
    .ray-logo-body
      fill: $violet

  &.inverted-colors
    background: none

    .navigation
      a, button
        color: $violet

      .language
        border-color: $violet
    
    #rayLogo
      .ray-logo-background
        fill: $violet

      .ray-logo-head,
      .ray-logo-body
        fill: $white

.show
  display: flex!important