<!-- logo -->
<a class="logo" [class.inverted-colors]="invertedColors" [routerLink]="links[0].path">
  <span class="icon-logo"></span>
</a>

<nav [class.inverted-colors]="invertedColors" [class.open-menu]="openMenu">
  <!-- url links -->
  <div class="links">
    <a class="link"
       *ngFor="let link of links"
       [routerLink]="link.path"
       [fragment]="link.fragment"
       [routerLinkActive]="link.disableActiveState ? '' : 'active'"
       (click)="openMenu = false"
    >
      {{ link.text }}
    </a>
  </div>
</nav>

<div class="float-menu" (click)="openMenu = !openMenu" [class.caret-btn]="openMenu">
  <span class="{{ openMenu ? 'icon-caret-down' : 'icon-menu' }}"></span>
</div>
