<div class="page">
  <div class="content">
    <div class="contact container content-block">
      <h2 class="title">
        {{ pageContext.presentation.title[lang] }}
      </h2>
      <p>
        {{ pageContext.presentation.content[lang] }}
      </p>
    </div>
  </div>

  <div class="container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm()">
      <!-- name -->
      <div class="form-field" [class.form-field-invalid]="submitted && formControls.name.errors">
        <input
          type="text" 
          formControlName="name"
          [placeholder]="'FORM.CONTACT_NAME' | translate"
          required>

        <div class="field-errors" *ngIf="submitted && formControls.name.errors">
          <span *ngIf="formControls.name.errors.required">
            {{ 'FORM.VALIDATION.NAME_REQUIRED' | translate }}
          </span>
        </div>
      </div>

      <!-- organization -->
      <div class="form-field">
        <input
          type="text"
          formControlName="org"
          [placeholder]="'FORM.CONTACT_ORGANIZATION' | translate">
      </div>

      <!-- email -->
      <div class="form-field" [class.form-field-invalid]="submitted && formControls.email.errors">
        <input
          type="email"
          formControlName="email"
          [placeholder]="'FORM.CONTACT_EMAIL' | translate"
          required>

        <div class="field-errors" *ngIf="submitted && formControls.email.errors">
          <span *ngIf="formControls.email.errors.required">
            {{ 'FORM.VALIDATION.EMAIL_REQUIRED' | translate }}
          </span>
          <span *ngIf="formControls.email.errors.email">
            {{ 'FORM.VALIDATION.EMAIL_FORMAT' | translate }}</span>
        </div>
      </div>

      <!-- message -->
      <div class="form-field" [class.form-field-invalid]="submitted && formControls.message.errors">
        <textarea
          cols="30" rows="3"
          formControlName="message" 
          [placeholder]="'FORM.CONTACT_MESSAGE' | translate"
          required></textarea>

        <div class="field-errors" *ngIf="submitted && formControls.message.errors">
          <span *ngIf="formControls.message.errors.required">
            {{ 'FORM.VALIDATION.MESSAGE_REQUIRED' | translate }}
          </span>
        </div>
      </div>

      <button type="submit">
        {{ 'ACTIONS.SEND' | translate }}
      </button>
    </form>
  </div>

  <div class="duo-action">
    <a class="action" href="https://linkedin.com/in/rachelmatam" target="_blank" rel="noopener noreferrer">
      <span class="action-btn">{{ 'ACTIONS.LINKEDIN_ME' | translate }}</span>
      <span class="action-text">linkedin.com/in/rachelmatam</span>
    </a>
    <a class="action" href="mailto:hi@rachelable.com">
      <span class="action-btn">{{ 'ACTIONS.EMAIL_ME' | translate }}</span>
      <span class="action-text">hi@rachelable.com</span>
    </a>
  </div>
</div>