<a class="blog-entry-small" [class.is-first]="isFirst" [class.is-last]="isLast" [class.is-extra-small]="isExtraSmall" routerLink="/blog/{{ context?.id }}">
  <div class="blog-entry-small-image" *ngIf="showImage && context.image">
    <img [src]="context.image" [alt]="">
  </div>

  <div class="blog-entry-small-title">
    {{ context.title }}
  </div>

  <div class="blog-entry-small-overview">
    {{ context.overview }}
  </div>

  <div class="blog-entry-small-footer">
    <div class="blog-entry-small-footer-note">
      {{ context.date | date: 'MMM d, y' }}
      -
      {{ context.estimatedReadTime() }}
    </div>
    <div class="blog-entry-small-footer-avatar" [style.background-image]="'url(' + context.authors[0].avatar + ')'"></div>
  </div>
</a>
