<div class="page cover">
  <div class="content">
    <div class="container content-block">
      <h2 class="title">
        {{ pageContext.presentation.title[lang] }}
      </h2>
      <p *ngFor="let paragraph of pageContext.presentation.content[lang]">
        {{ paragraph }}
      </p>
    </div>
  </div>
</div>

<div class="page">
  <div class="container content-block">
    <h2 class="title">
      {{ pageContext.education.title[lang] }}
    </h2>
    <div class="education">
      <div class="card" *ngFor="let course of pageContext.education.courses">
        <span class="card-logo" [style.background-image]="'url(' + course.logo + ')'"></span>
        <div class="card-content">
          <span class="card-title">{{ course.course[lang] }}</span>
          <span class="card-subtitle">
            {{ course.institution }}, {{ course.year }}
          </span>
    
          <div class="card-tags" *ngIf="course.tags">
            <span *ngFor="let tag of course.tags[lang]">
              {{ tag }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>