<div class="cover">
  <div class="subtitle">
    {{ 'PAGES.HOME.COVER_SUBTITLE' | translate }}
  </div>
  <h1 class="title">
    Rachel
  </h1>
</div>

<ng-container *ngIf="pageContext && lang">
  <div class="presentation">
    <h3>
      {{ pageContext.presentation.title[lang] }}
    </h3>
    <p>
      {{ pageContext.presentation.content[lang] }}
    </p>
  </div>
  
  <div class="call-to-action">
    <strong>
      {{ pageContext.callToAction.content[lang] }}
    </strong>
    <button>
      {{ pageContext.callToAction.buttonText[lang] }}
    </button>
  </div>

</ng-container>