@import 'variables'

.cover
  padding: 0 6rem
  position: relative
  height: 100vh
  background-color: $violet
  background-image: url('../../../assets/images/ray.png')
  background-position-x: 12vw
  background-position-y: bottom
  background-size: contain
  background-repeat: no-repeat

  @media screen and ( max-width: $med)
    padding: 0 1.5rem

  @media screen and ( max-width: $sma)
    max-height: 300px

  .cover-subtitle,
  .cover-title
    color: $white

  .cover-subtitle
    position: absolute
    bottom: 15vw
    right: 50%

    font-size: 5.3vw

    @media screen and ( max-width: 900px)
      bottom: 17vw

  .cover-title
    position: absolute
    bottom: 0
    height: 18vw
    overflow: hidden
    margin-left: -0.05em

    h1
      position: relative
      top: -5vw
      margin: 0
      font-weight: 900
      letter-spacing: -0.06em
      font-size: calc((100vw - 12rem ) / (6 * 0.5) * 0.921)

    @media screen and ( max-width: 1000px)
      height: 17vw
      
    @media screen and ( max-width: $med)
      height: 21vw
      h1
        font-size: calc((100vw - 3rem ) / (6 * 0.5) * 0.921)