@import 'variables';

.blog-entry-page {
  padding-top: 200px;
  display: grid;
  grid-template-columns: auto 800px auto;
  min-height: calc(100vh - #{$footerSize});
  margin: 0 auto;
  gap: $gap3;

  @media screen and (max-width: $med) {
    padding: 110px 30px 30px;
  }

  &-actions {
    margin-left: auto;
    position: relative;

    &-action {
      position: fixed;
      bottom: $footerSize;
    }
  }

  &-content {
    padding: 0 $gap3;

    h1 {
      line-height: 1.2;
    }

    h1,
    .font-big,
    ray-share-links,
    ray-blog-author-card {
      display: block;
      margin-bottom: $gap3;
    }

    &-cover {
      object-fit: cover;
      width: 100%;
    }
  }

  &-entries {
    margin-right: auto;
  }
}

.entry-inner-html ::ng-deep {
  margin: $gap3 0;
  font-size: 1rem;
  line-height: 1.5;

  h1, h2 {
    font-size: 1.8rem;
    margin: 16px 0;
  }

  h3 {
    font-size: 1.3rem;
    margin: 12px 0;
  }
}
