<ray-navbar [invertedColors]="true"></ray-navbar>

<div class="blog-entry-page" *ngIf="context && entry">
  <!-- left column -->
  <div class="blog-entry-page-left" [class.blog-entry-page-opacity]="sideDisplay">
    <div class="blog-entry-page-left-content">
      <ray-share-links [url]="entryUrl" [title]="entry.title" [vertical]="true"></ray-share-links>
    </div>
  </div>

  <!-- center column -->
  <div class="blog-entry-page-content">
    <h1 class="main-title">{{ entry.title }}</h1>

    <p class="font-big">
      {{ entry.overview }}
    </p>

    <ray-share-links [url]="entryUrl" [title]="entry.title"></ray-share-links>

    <ray-blog-author-card
      [author]="entry.authors[0]"
      [date]="entry.date"
      [estimatedReadTime]="entry.estimatedReadTime()"></ray-blog-author-card>

    <div #contentMarker></div>

    <ray-img class="blog-entry-page-content-cover" *ngIf="entry.image" [src]="entry.image" [alt]="entry.title"></ray-img>

    <div class="entry-inner-html" [innerHTML]="entry.content"></div>

    <div class="blog-entry-page-content-tags">
      <span *ngFor="let tag of entry.tags">
        {{ tag }}
      </span>
    </div>
  </div>

  <!-- right column -->
  <div class="blog-entry-page-right" [class.blog-entry-page-opacity]="sideDisplay">
    <div class="blog-entry-page-right-content">
      <div class="blog-entry-page-right-content-list" *ngIf="showSideContentProgress(blogEntryProgressType.toRead)">
        <h4>To read</h4>
        <ng-container *ngTemplateOutlet="sideContentEntryTemplate; context: { type: blogEntryProgressType.toRead }"></ng-container>
      </div>

      <div class="blog-entry-page-right-content-list" *ngIf="showSideContentProgress(blogEntryProgressType.inProgress)">
        <h4>In Progress</h4>
          <ng-container *ngTemplateOutlet="sideContentEntryTemplate; context: { type: blogEntryProgressType.inProgress }"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #sideContentEntryTemplate let-type="type">
  <ng-container *ngFor="let e of context.entries[type]; let i = index">
    <ray-blog-entry-small *ngIf="showSideContentEntry(type, i)"
                          [context]="e"
                          [isFirst]="i === 0"
                          [isLast]="i === context.entries[type].length - 1"
                          [isExtraSmall]="true"></ray-blog-entry-small>
  </ng-container>
</ng-template>
