@import 'variables';

$coverImage: 300px;
$medCoverImage: 230px;

.cover {
  display: grid;
  height: 100vh;
  background-color: $primary;
  background-image: url("../../../../../assets/images/universe.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &-content {
    align-self: center;
    display: grid;
    gap: 24px;

    &-image {
      width: $coverImage;
      height: $coverImage;
      margin: 0 auto;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;

      @media screen and (max-width: $med) {
        width: $medCoverImage;
        height: $medCoverImage;
      }
    }

    &-title,
    &-subtitle {
      color: $light;
      text-align: center;
    }

    &-subtitle {
      margin-bottom: 16px;
    }
  }
}
