@import 'variables'

.call-to-action
  display: grid
  grid-template-columns: repeat(2, max-content)
  gap: 2rem
  margin: 0 auto
  padding: 3rem 0
  width: max-content

  strong, button
    align-self: center
    font-size: 1.2em
  
  strong
    color: $violet
    font-weight: 700
    text-align: right
  
  button
    margin-right: auto