<div class="container blog" id="blog">
  <div class="blog-header" *ngIf="context">
    <h2>
      {{ context.title }}
    </h2>
    <p class="font-big">
      {{ context.description }}
    </p>
  </div>

  <div class="blog-last-entry" *ngIf="lastEntry">
    <h3>
      {{ lastEntry.title }}
    </h3>
    <p class="font-big">
      {{ lastEntry.overview }}
    </p>
    <img class="blog-last-entry-image" [src]="lastEntry.image" [alt]="lastEntry.title">
    <ray-blog-author-card [author]="lastEntry.authors[0]" [date]="lastEntry.date" [estimatedReadTime]="lastEntry.estimatedReadTime()"></ray-blog-author-card>
  </div>

  <div class="blog-entries">
    <ray-blog-entry-small *ngFor="let entry of entries; let i = index" [context]="entry" [isFirst]="i === 0" [isLast]="i === entries.length - 1"></ray-blog-entry-small>
  </div>
</div>
