@import 'variables';

.blog {
  display: grid;
  grid-template-columns: auto 315px;
  gap: $gap3;

  ray-blog-header {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  &-last-entry {
    @include cleanButton();
    color: $primary;
    grid-column: 1;
    grid-row: 2;
    max-width: 600px;
    margin-right: auto;

    h3 {
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-bottom: $gap3;
    }

    &-image {
      width: 100%;
      height: 280px;
      object-fit: cover;
      margin-bottom: $gap3;
      cursor: pointer;
    }
  }

  &-entries {
    grid-column: 2;
    grid-row: 2;
  }
}

@media screen and (max-width: $med) {
  .blog {
    grid-template-columns: 1fr;

    ray-blog-header,
    &-last-entry,
    &-entries {
      grid-column: unset;
      grid-row: unset;
    }

    &-last-entry {
      display: none;
    }

    &-entries {
      margin: 0 auto;
    }
  }
}

.link-button-icon {
  margin: 40px auto 0;
}
